.CategoriesHoriBox {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.CategoriesHoriBox > ul {
    display: inline-block;
}

.CategoriesHoriBox > ul > li {
    float: left;
}

.CategoriesHoriBox > ul > li > * {
    float: left;
}

.CategoriesHoriBox > ul > li > a {
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 1px;
}

.CategoriesHoriBox > ul > li[data-isActive="true"] > a {
    text-decoration: none;
}

.CategoriesHoriBox > ul > li > span {
    margin: 0 10px;
    color:rgb(159, 159, 159)
}

.CategoriesHoriBox > ul > li:last-child > span {
    display: none;
}

.CategoriesHoriBox > div {
    float: left;
    width: 100%;
    /* height: 100px;
    background: red; */
    text-align: center;
}

.CategoriesHoriBox > div > ul {
    display: inline-block;
}

.CategoriesHoriBox > div > ul > li {
    float: left;
    display: none;
}

.CategoriesHoriBox > div > ul > li:first-child {
    display: block;
}